.box-topbar {
  @include flex($justify: space-between);
  @include relative-position;
  padding: 15px;

  .topbar-right-side {
    @include absolute-position($right: 5px);
    * {
      cursor: pointer;
    }
  }
}
@include breakpoint("small-screen") {
  .box-topbar {
    position: static;
    .topbar-right-side {
      @include absolute-position($right: 25px);
    }
  }
}
