.icon-menu {
  position: absolute;
  top: 45px;
  right: -300px;
  opacity: 0;
  background-color: var(--white);
  height: 193px;
  width: 270px;
  box-shadow: 0 0 4px 0 #0000004d;
  transition: all 0.4s ease-in-out;
  .icon-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    padding: 8px 0;
  }
}
.icon-menu.active {
  right: 0px;
  opacity: 1;
}

.icon-menu-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px;

  $colors: var(--pink), var(--green), var(--primary), var(--danger),
    var(--warning), var(--gray);

  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      color: nth($colors, $i);
    }
  }
}
.icon-menu-list-item {
  .list-icon {
    font-size: 1.8rem;
  }
  .icon-title {
    font-size: 0.8rem;
    color: var(--gray);
    text-transform: capitalize;
  }
}
.deivder {
  border: 0.5px solid #80808066;
  margin: 3px 0;
  grid-column: 1 / 4;
}

.read-more {
  grid-column: 2 / 3;
  text-align: center;
  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: gray;
  }
}
