.icon-menu {
  @include size(270px, 193px);
  @include absolute-position($top: 43px, $right: -410px);
  @include box-shadow(0, 0, 4px, 0, #0000004d);
  opacity: 0;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
  .icon-menu-list {
    @include grid-container($columns: 3);
    padding: 8px 0;
  }
}
.icon-menu.active {
  right: 0px;
  opacity: 1;
}

$colors: var(--pink), var(--green), var(--primary), var(--danger),
  var(--warning), var(--gray);
.icon-menu-list-item {
  @include flex($direction: column, $align: center);
  gap: 10px;
  padding: 12px;
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      color: nth($colors, $i);
    }
  }
}
.icon-menu-list-item {
  .list-icon {
    font-size: 1.8rem;
  }
  .icon-title {
    @include text-format(
      $font-size: 0.8rem,
      $color: var(--dark-gray),
      $transform: capitalize
    );
  }
}
.deivder {
  border: 0.5px solid var(--light-gray);
  margin: 3px 0;
  grid-column: 1 / 4;
}

.read-more {
  grid-column: 2 / 3;
  text-align: center;
  a {
    @include text-format(
      $font-size: 0.8rem,
      $color: var(--dark-gray),
      $transform: capitalize
    );
  }
}
//just for very little sizes
@media screen and (max-width: 375px) {
  .icon-menu {
    @include fix-position($top: 120px, $right: -100%);
    width: 100%;
  }
}
