.button {
  @include size(100%);
  @include relative-position;
  @include text-format(
    $color: var(--white),
    $font-size: 0.85rem,
    $transform: capitalize
  );
  padding: 7px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  transition: all 0.5s ease;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.button.success {
  background-color: var(--green);
  &:hover {
    background-color: var(--green-hover);
  }
}
.button.error {
  background-color: var(--danger);
  &:hover {
    background-color: var(--danger-hover);
  }
}
.button.warning {
  background-color: var(--dark-warning);
  &:hover {
    background-color: var(--warning-hover);
  }
}
.button-spinner-loader {
  @include flex($align: center, $justify: center);
  .spinner-icon {
    font-size: 1.4rem;
    margin-right: 3px;
    animation: spinnerAnimtaion 1s linear infinite;
  }
}

@keyframes spinnerAnimtaion {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.load-more-button {
  width: 35%;
  margin: 10px auto;
  button {
    margin: 10px auto;
    border-radius: 50px;
  }
}