.task-sidebar {
  @include fix-position($top: 65px, $right: -280px);
  @include size(275px, 91vh);
  @include box-shadow(0, 0, 3px, 1px, var(--dark-gray));
  background-color: var(--white);
  padding: 10px 0;
  z-index: 999;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  .task-sidebar-menu {
    border-bottom: 1px solid var(--light-gray);
  }
}
.task-sidebar-menu-list {
  @include flex($justify: space-around, $align: center);
  .task-sidebar-menu-list-item {
    @include text-format(
      $font-size: 0.8rem,
      $color: var(--gray),
      $transform: capitalize
    );
    padding: 8px;
    width: 50%;
    text-align: center;
    cursor: pointer;
  }
  .task-sidebar-menu-list-item.active {
    color: var(--black);
  }
}
.task-sidebar.active {
  right: 0;
}
.task-sidebar-body .taskSidebar-header {
  border-bottom: 1px solid var(--light-gray);
  .row {
    @include flex($justify: space-between, $align: center);
    padding: 15px 8px;
    h4.task-header-title {
      text-transform: capitalize;
    }
    svg {
      cursor: pointer;
    }
  }
}
.chat-list-item {
  @include flex($justify: center, $align: center);
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  padding: 10px 0;
  &:last-child {
    border-bottom: none;
  }
  img {
    @include size(40px);
    border-radius: 50%;
  }
}
.chat-info {
  width: 75%;
  .user-name {
    @include text-format($font-size: 0.9rem, $transform: capitalize);
    margin-bottom: 5px;
  }
  .chat-text {
    @include text-format($font-size: 0.75rem, $color: var(--gray));
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
  }
}
.todo-list {
  .todo-list-item {
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
    .todo {
      @include text-format($font-size: 0.8rem, $transform: capitalize);
      display: block;
      width: 95%;
      padding: 13px 7px 8px;
      text-align: justify;
      user-select: none;
      label {
        cursor: pointer;
      }
      label.diactive {
        text-decoration: line-through;
        color: var(--dark-gray);
      }
      input {
        margin-right: 8px;
      }
    }
  }
}
.todo-info {
  @include flex($justify: space-between, $align: center);
  margin-right: 5px;
  .todo-created-time {
    @include text-format($font-size: 0.8rem, $color: var(--gray));
    display: block;
    margin-top: 5px;
  }
  .trash-icon {
    color: var(--danger);
    cursor: pointer;
  }
}
.taskSidebar-header {
  @include relative-position;
  form {
    @include relative-position;
    width: 97%;
    display: none;
    margin: 0 auto;
    user-select: none;
    .add-todo-btn {
      @include absolute-position($top: 9px, $right: 3px);
    }
  }
}
form.active {
  display: block;
}
form .todo-error-message {
  display: block;
  @include text-format(
    $font-size: 0.8rem,
    $color: var(--danger),
    $transform: capitalize
  );
  margin-bottom: 5px;
}

@include breakpoint("small-to-medium-screen") {
  .task-sidebar {
    top: 120px;
  }
}
