.notification-dropdown {
  position: absolute;
  background: var(--white);
  top: 46px;
  width: 400px;
  right: -6px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  .notification-header {
    padding: 14px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    h4 {
      text-transform: capitalize;
    }
    span.clearBtn {
      color: var(--danger);
      font-size: 0.8rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.notification-body {
  padding: 8px 10px;
  .notification-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid var(--light-gray);
    &:last-child {
      border-bottom: none;
    }
    .text-part {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

.notif-text {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 0.8rem;
}
.notif-icon {
  padding: 8px 11px;
  background-color: var(--green);
  .message-icon{
    color: var(--white);
    font-size: 1.2rem;
  }
}

.notif-time {
  color: var(--dark-gray);
  font-size: 0.8rem;
}

.notification-dropdown.active {
  transform: scale(1);
}
