.main-sidebar {
  @include fix-position($top: 63px, $left: 250px);
  @include size(250px, 100vh);
  background-color: var(--dark-blue);
  margin-left: -250px;
  transition: all 0.5s ease;
  overflow-y: auto;
  z-index: 999;
}

.main-sidebar.close {
  width: 45px;
}
.main-sidebar.close {
  &:hover {
    width: 250px !important;
  }
}

.sidebar-section {
  width: 250px;
  margin: 10px 0;
  border-bottom: 1px solid var(--gray);
  &:last-child {
    border-bottom: none;
  }
  .sidebar-list {
    @include flex($direction: column);
    padding: 5px 0;
  }
}
.sidebar-section-header {
  padding: 7px;
  @include text-format(
    $font-size: 0.69rem,
    $color: var(--gray),
    $transform: uppercase
  );
}
.sidebar-icon-header {
  color: var(--body-color);
  margin-left: 12px;
}
.sidebar-item {
  @include text-format(
    $font-size: 0.85rem,
    $color: var(--white),
    $transform: capitalize
  );
  cursor: pointer;
  line-height: 2.4;
  .sidebar-link {
    @include size(100%);
    color: inherit;
    padding: 5px 0;
    text-decoration: none;
    display: inline-block;
    text-indent: 13px;
  }
  &:hover {
    background-color: rgba(197, 192, 192, 0.089);
  }
}
.sidebar-item .sidebar-icon {
  margin-right: 15px;
  font-size: 1rem;
}
.sidebar-link.active {
  color: var(--green);
}

@include breakpoint("small-to-medium-screen") {
  .main-sidebar.close {
    left: -65px;
    width: 0px;
  }
}
