.main-sidebar {
  position: fixed;
  top: 68px;
  width: 220px;
  height: 100vh;
  z-index: 999;
  background-color: var(--dark-blue);
  transition: 0.4s ease;
}

.main-sidebar.close {
  width: 48px;
  span {
    opacity: 0;
  }
}
.main-sidebar.close {
  &:hover {
    width: 220px !important;
    span {
      opacity: 1;
    }
    .sidebar-icon-header{
      width: 10% * 2;
    }
  }
}
.sidebar-section {
  margin: 10px 0;
  border-bottom: 1px solid gray;
  &:last-child {
    border-bottom: none;
  }
  .sidebar-list {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
  }
}
.sidebar-section-header {
  padding: 7px;
  text-transform: uppercase;
  font-size: 0.69rem;
  color: var(--gray);
}
.sidebar-icon-header{
  width: 100%;
  margin: 0 -7px;
  color: var(--body-color);
}
.sidebar-item {
  text-transform: capitalize;
  font-size: 0.85rem;
  color: var(--white);
  cursor: pointer;
  height: 40px;
  .sidebar-link {
    padding: 10px 10px 0;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: rgba(197, 192, 192, 0.089);
  }
}
.sidebar-item .sidebar-icon {
  margin-right: 15px;
  font-size: 1rem;
}
.sidebar-link.active {
  color: var(--green);
}
