.satisfication-indicator {
  @include flex($direction: column, $align: center, $justify: center);
  grid-row: 1/2;
  background: var(--white);
  padding: 20px;
  gap: 20px;
  .box-title {
    text-transform: uppercase;
  }
  .satisfaction-rate {
    @include text-format($font-size: 2.5rem, $color: var(--green));
    font-weight: 400;
  }
}
.satisfaction-progressbar {
  @include size(100%, 5px);
  @include relative-position;
  background-color: var(--light-gray);
  border-radius: 10px;
  margin-top: 20px;
  &::before {
    content: "";
    @include absolute-position($top: 0, $left: 0);
    @include size(93%, 100%);
    background-color: var(--green);
    border-radius: 10px;
  }
}
.satisfaction-reports {
  @include flex($justify: space-between);
  width: 100%;
  .report {
    @include flex($direction: column, $align: center);
    gap: 4px;
  }
}
.satisfaction-reports .report {
  .report-title {
    @include text-format(
      $font-size: 0.9rem,
      $color: var(--dark-gray),
      $transform: capitalize
    );
  }
  .count {
    font-size: 0.875rem;
  }
}
.satisfication-trend-icon {
  color: var(--green);
}
@include breakpoint("small-screen") {
  .satisfication-indicator {
    grid-row: auto;
  }
}
@include breakpoint("medium-to-large-screen") {
  .satisfication-indicator {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
