.comments-container {
  background-color: var(--white);
  padding: 15px;
  margin: 20px 0;

  td.hasAnwser {
    @include text-format($font-size: 1.2rem, $color: var(--white));
    background: var(--green);
    text-align: center;
  }
  td.hasNoAnwser {
    @extend .hasAnwser;
    background: var(--danger);
  }
}

.comment-anwser-textarea {
  height: 100px;
}
