.product-card {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border: 1px solid #ddd;
  transition: all 0.5s ease;
  .product-card-link {
    text-decoration: none;
    color: var(--black);
  }
  .image-part {
    height: 58%;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &:hover {
    box-shadow: 0px 3px 5px 1px var(--gray);
    z-index: 99;
  }
}
.product-body {
  padding: 12px;
  height: 43%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  .product-category {
    background: var(--dark-green);
    color: var(--white);
    font-size: 0.75rem;
    border-radius: 5px;
    padding: 5px;
    width: max-content;
  }
  .card-title {
    text-transform: capitalize;
    font-weight: 600;
  }
  .card-decription {
    font-size: 0.85rem;
    text-overflow: ellipsis;
    width: 284px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    line-height: 1.3;
  }
}
.rating-star {
  color: var(--dark-warning);
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  align-items: flex-end;
  svg {
    font-size: 1rem;
  }
}
.product-price {
  color: var(--dark-green);
  font-size: 1.2rem;
  font-weight: 600;
}
.price-before-discount-Value {
  text-decoration: line-through;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
  margin-top: 3px;
}
.price-discount-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
