.product-card {
  @include size(100%);
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  transition: all 0.5s ease;
  .product-card-link {
    text-decoration: none;
    color: var(--black);
  }
  .image-part {
    height: 58%;
    img {
      @include size(100%);
      object-fit: fill;
    }
  }
  &:hover {
    @include box-shadow(0, 3px, 5px, 1px, var(--gray));
  }
}
.product-body {
  @include flex($direction: column, $justify: space-between);
  padding: 12px;
  height: 43%;
  gap: 10px;
  text-align: justify;
  .product-category {
    @include text-format($font-size: 0.75rem, $color: var(--white));
    width: max-content;
    background: var(--dark-green);
    border-radius: 5px;
    padding: 5px;
  }
  .card-title {
    text-transform: capitalize;
    font-weight: 600;
  }
  .card-decription {
    width: 260px;
    min-width: 100%;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    line-height: 1.3;
  }
}
.rating-star {
  @include flex($align: flex-end);
  color: var(--dark-warning);
  cursor: pointer;
  font-size: 0.875rem;
  svg {
    font-size: 1rem;
  }
}
.product-price {
  @include text-format($font-size: 1.2rem, $color: var(--dark-green));
  font-weight: 600;
}
.price-before-discount-Value {
  text-decoration: line-through;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: 100;
  margin-top: 3px;
}
.price-discount-row {
  @include flex($align: center, $justify: space-between);
}
.product-card {
  &.skeleton-loading {
    .product-body {
      justify-content: normal;
    }
    .image-part,
    .product-category,
    .card-decription,
    .product-price {
      border-radius: 2px;
      background: var(--light-gray) !important;
    }
    .image-part {
      width: 90%;
      margin: 10px auto;
    }
    .product-category {
      @include size(60%, 20px);
    }
    .card-decription {
      min-width: 97%;
      height: 90px;
    }
    .product-price {
      @include size(30%, 25px);
    }
  }
}
