.orders-container {
  background-color: var(--white);
  padding: 15px;
  margin: 20px 0;

  .order-status {
    @include size(80%, 10px);
    @include flex($align: center, $justify: center);
    border-radius: 20px;
    color: var(--white);
    font-size: 0.8rem;
  }
  .order-status.fail {
    background-color: var(--danger);
  }
  .order-status.success {
    background: var(--green);
  }
  .order-status.pending {
    background: var(--dark-warning);
  }
}
