html {
  box-sizing: border-box;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

.icon {
  font-size: 1.2rem;
  color: var(--dark-gray);
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 0 3px;
  &:hover,
  &:focus {
    color: var(--balck);
  }
}
.badge {
  padding: 2px 5px;
  color: var(--white);
  font-size: 0.7rem;
  border-radius: 10px;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-success {
  background-color: var(--green) !important;
}
.bg-warning {
  background-color: var(--dark-warning) !important;
}
