.modal-container .overlay.active {
  @include fix-position($top: 0, $left: 0);
  @include size(100%);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  animation: fade 0.5s forwards;
}

.modal {
  @include fixed-center;
  @include flex($direction: column);
  width: 97%;
  max-width: 400px;
  background: var(--white);
  z-index: 1000;
  border-radius: 10px;
  text-align: center;
  line-height: 1.5;
  text-transform: capitalize;
  overflow: auto;
  padding: 20px; //this is a default padding
  .modal-text > span {
    font-size: 0.875rem;
  }
}
.modal.active {
  animation: scaleIn 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@include breakpoint("small-screen") {
  .modal {
    width: 98%;
  }
}
