:root {
  --primary-font: "Poppins";
  --green: #2ecd99;
  --danger: #d32f2f;
  --warning: #f6dc8d;
  --primary: #95c4f0;
  --blue: #212121;
  --pink: rgba(255, 105, 180, 0.68);
  --gray: #bbb;
  --body-color: #edf1f5;
  --purple: #9c27b0;
  --white: #fff;
  --black: #212121;
  --coral-color: #ff6347;
  --light-gray: #ddd;
  --dark-red: #721c24;
  --dark-blue: #2a3e4c;
  --dark-green: #1b4242;
  --dark-gray: #777;
  --dark-warning: #ffa500;
  --green-hover: #26a073;
  --danger-hover: #f44336;
  --warning-hover: #f6b64b;
}
