:root {
  --primary-font: "Poppins";
  --green: #2ecd99;
  --danger: #ed6f56;
  --warning: #f0c541;
  --primary: #4e9de6;
  --pink: rgba(255, 105, 180, 0.68);
  --dark-blue: #2a3e4c;
  --gray: #7d7c7c;
  --light-gray: #7d7c7c81;
  --dark-gray: #777;

  --body-color: #edf1f5;
  --white: #fff;
  --black: #212121;
}
