.detail-box-row {
  @include grid-container($columns: 4, $gap: 14px);
  grid-template-rows: 100px;
  justify-items: center;
}
.Analytics-part {
  @include grid-container($columns: 4, $gap: 15px);
  grid-template-rows: repeat(2, 230px);
  margin: 25px 0;
}

.social-campaign-container {
  @include grid-container($columns: 6, $gap: 10px);
  grid-template-rows: max-content;
  .table {
    grid-column: 1 / span 4;
    background: var(--white);

    td.campaign-client {
      color: var(--dark-gray);
    }
  }
}
.table.full-width {
  @include fix-position($top: 0, $left: 0, $right: 0, $bottom: 0);
  transform: scaleX(0);
  transform-origin: top left;
  transform-box: fill-box;
  z-index: 99999;
  animation: slideIn 0.4s ease forwards;
}
@keyframes slideIn {
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@include breakpoint("small-screen") {
  .detail-box-row {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 75px);
  }
  .Analytics-part {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
  }
  .social-campaign-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    .table {
      grid-column: auto;
    }
  }
}
@include breakpoint("medium-screen") {
  .social-campaign-container {
    grid-template-rows: repeat(2, 1fr);
    .table {
      grid-column: 1 / span 6;
    }
  }
}

@include breakpoint("medium-to-large-screen") {
  .detail-box-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
  }
  .Analytics-part {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 230px);
  }
}
