.Advertise-box {
  @include flex($direction: column, $justify: space-around);
  background-color: var(--white);
  grid-column: 5/7;
  .advertise-chart {
    @include size(90%, 65%);
  }
}
.Advertise-box {
  .chart-info-row {
    @include flex($align: center);
    gap: 30px;
    padding: 0 20px;
  }
}

$colors: var(--green), var(--warning), var(--primary);
.advertise-chart-info {
  @include relative-position;
  text-transform: capitalize;
  font-size: 0.75rem;
  @for $i from 1 through length($colors) {
    &:nth-child(#{$i})::before {
      content: "";
      @include absolute-position($top: 1px, $left: -12px);
      @include size(10px);
      background-color: nth($colors, $i);
    }
  }
}
@include breakpoint("small-screen") {
  .Advertise-box {
    grid-column: auto;
  }
}
@include breakpoint("medium-screen") {
  .Advertise-box {
    grid-column: 1 / span 6;
  }
}
