.articles-container {
  margin: 20px 0;
  .articles-row {
    @include grid-container($columns:2 , $gap:15px);
    grid-auto-rows: 250px;
  }
}
@include breakpoint("small-screen") {
  .articles-container {
    .articles-row {
      grid-auto-rows: 400px;
      grid-template-columns: 1fr;
    }
  }
}
@include breakpoint("medium-screen"){
  .articles-container {
    .articles-row {
      grid-template-columns: 1fr;
    }
  }
}