.productDetail-container {
  @include flex;
  background-color: var(--white);
  margin: 30px 0;
  padding: 15px;
  gap: 20px;
  @include size(100%, 390px);
  .product-image {
    @include size(100%);
    max-width: 390px;
    img {
      @include size(100%);
    }
  }

  .product-description {
    @include size(100%);
    @include grid-container;
    grid-template-rows: 15% 55% 10%;
    align-items: center;
    .price-row {
      width: 25%;
      @include flex($align: baseline, $justify: space-between);
    }
    .product-detail-title {
      text-transform: capitalize;
      font-weight: bold;
    }
    .discount-price {
      @include text-format($font-size: 0.8rem, $color: var(--gray));
      text-decoration: line-through;
    }
  }
}
.product-detail-main-price {
  color: var(--dark-green);
  font-weight: bold;
}
.price-rating-part {
  @include flex($align: baseline, $justify: space-between);
  margin-top: 20px;
}
.watchlistBtn {
  width: 25%;
}
.product-detail-info {
  @include text-format($font-size: 1rem, $color: var(--dark-gray));
  line-height: 2;
  padding-right: 20px;
  text-wrap: pretty;
}
.product-detail-tabPane {
  background-color: var(--white);
  margin: 20px 0;
  padding: 15px;
  .tabpane-header {
    @include flex;
    gap: 30px;
    border-bottom: 0.5px solid var(--light-gray);
    .tabpane-list-item {
      @include text-format($font-size: 0.9rem, $transform: capitalize);
      cursor: pointer;
    }
    .tabpane-list-item.active {
      border-bottom: 2px solid var(--green);
      padding-bottom: 10px;
    }
  }
  .tabpane-body {
    margin: 15px 0;
    .tabpane-content {
      font-size: 1rem;
      display: none;
    }
    .tabpane-content.active {
      display: block;
    }
    .product-text {
      color: var(--dark-gray);
      text-wrap: pretty;
      line-height: 2;
    }
  }
}
.comment {
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  @include box-shadow(0, 2px, 4px, rgba(0, 0, 0, 0.1));
  .comment-header {
    @include flex($align: center, $justify: space-between);
    margin-bottom: 10px;
  }
}
.answer {
  padding: 19px 15px;
  border-radius: 8px;
  margin-top: 10px;
  background-color: var(--body-color);
  line-height: 1.5;
}

.answer-header {
  @include flex($align: center, $justify: space-between);
  margin-bottom: 10px;
}

.answer-username,
.username {
  font-weight: bold;
}
.date {
  @include text-format($font-size: 14px, $color: var(--gray));
}
.answer-content {
  color: var(--dark-gray);
}
@include breakpoint("small-to-medium-screen") {
  .productDetail-container {
    @include size(100%, auto);
    flex-wrap: wrap;
    background-color: var(--white);
    margin: 20px 0;
    padding: 15px;
    gap: 20px;
    .product-image {
      max-width: 100%;
      @include size(100%, 50%);
    }
    .product-description {
      grid-template-rows: auto;
      .product-detail-title {
        margin-bottom: 10px;
      }
    }
  }
  .watchlistBtn {
    width: 100%;
  }
}
@include breakpoint("large-screen") {
  .watchlistBtn {
    width: 35%;
  }
}
