.upload-btn {
  @include relative-position;
  @include size(60%, 2.5rem);
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  overflow: hidden;
  top: -3px;

  label {
    @include flex($justify: center, $align: center);
    @include text-format($font-size: 0.875rem, $transform: capitalize);
    height: 100%;
    transition: all 0.3s ease;
  }
  input[type="file"] {
    @include absolute-position($top: 0, $left: 0, $right: 0);
    @include size(100%, 2.5rem);
    color: transparent;
    opacity: 0;
    cursor: pointer;
  }
}
.up-icon {
  @include absolute-position($top: -26px, $left: 0, $right: 0);
  @include text-format($font-size: 1.2rem, $color: var(--white));
  width: 100%;
  transition: all 0.3s;
}

.upload-btn:hover {
  .up-icon {
    top: 20%;
  }
  label {
    transform: translateY(40px);
  }
}
