.upload-btn {
  position: relative;
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  overflow: hidden;
  top: -3px;
  width: 60%;
  height: 2.5rem;
  label {
    display: flex;
    height: 100%;
    text-transform: capitalize;
    font-size: 0.875rem;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  input[type="file"] {
    color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
  }
}
.up-icon {
  color: var(--white);
  position: absolute;
  left: 0;
  top: -26px;
  right: 0;
  width: 100%;
  transition: all 0.3s;
  font-size: 1.2rem;
}

.upload-btn:hover {
  .up-icon {
    top: 20%;
  }
  label {
    transform: translateY(40px);
  }
}
