.detail-box {
  @include flex($align: center, $justify: space-around);
  width: 100%;
  background: var(--white);
}
.box-info {
  @include flex($align: center, $direction: column);
  gap: 2px;
  .box-counter {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .box-content {
    @include text-format(
      $color: var(--gray),
      $font-size: 0.85rem,
      $transform: uppercase
    );
    text-align: center;
    vertical-align: middle;
  }
}
.detail-box {
  .symbol-side > svg {
    @include text-format($color: var(--gray), $font-size: 2rem);
  }
}
