.users-container {
  background-color: var(--white);
  padding: 15px;
  margin: 20px 0;
  .add-user-row {
    @include grid-container($columns: 2, $gap: 15px);
    grid-template-rows: repeat(2, 50px);
    grid-row-gap: 30px;
  }
  form {
    margin-bottom: 20px;
  }
  .save-user-btn {
    width: 30%;
  }
  .users-table {
    margin: 30px 0 0;
  }
}
.password-input-part {
  @include relative-position;
  .password-icon {
    @include absolute-position($top: 36px, $right: 8px);
    cursor: pointer;
  }
}
@include breakpoint("small-screen") {
  .users-container {
    .save-user-btn {
      width: 100%;
    }
  }
}
@include breakpoint("small-to-medium-screen") {
  .users-container {
    .add-user-row {
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 50px);
    }
    .users-table {
      overflow: auto;
    }
  }
}
