.product-action-container {
  padding: 15px;
  margin: 20px 0;
  background-color: var(--white);
  .products-table {
    overflow: auto;
    .discount-btn {
      width: 15%;
    }
  }
}
.edit-product-img {
  @include size(200px, 170px);
  margin: 25px 0px 0;
  padding: 12px 10px 0 5px;
}
.edit-product-cover-preview {
  @include size(100%);
  border: 1px solid var(--gray);
}
.edit-product-description-part {
  height: 100px;
}
