.input-group {
  @include relative-position;
  @include size(100%);
  label {
    @include text-format($font-size: 0.875rem, $transform: capitalize);
  }
  .input,
  select,
  textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px 5px;
    border-radius: 2px;
    outline: none;
    border: 1px solid var(--gray);
  }
  input::placeholder {
    text-transform: capitalize;
  }
}
textarea {
  @include size(100%);
  border: 1px solid var(--gray);
  line-height: 1.5;
}
select {
  cursor: pointer;
  font-size: 1rem;
}
:is(input, select, textarea):focus {
  transition: all 0.4s ease;
  @include box-shadow(0, 0, 1.5px, 0, var(--black));
}
