.confirm-modal {
  padding: 25px;
  gap: 20px;
  .modal-header {
    color: var(--danger);
    svg {
      font-size: 2.5rem;
    }
  }
}
.confirm-modal-button {
  @include flex;
  width: 100%;
  gap: 10px;
}
