.addAticle-container {
  background-color: var(--white);
  margin: 20px 0;
  padding: 15px;
  .row-add-article {
    margin: 20px 0;
    display: grid;
    grid-template-rows: max-content 220px;
    .input-group:nth-child(2) {
      padding: 10px 0 20px;
    }
  }
}
.ql-editor {
  min-height: 200px;
}
.add-article-btn {
  margin: 10px 0;
  width: 10rem;
}

.image-upload {
  width: 25%;
  .showimgPreview {
    @include size(100%, 355px);
  }
  .gray-box {
    background-color: var(--gray);
    @include relative-position;
    .img-size-show {
      @include absolute-position($top: 50%, $left: 50%);
      @include text-format($font-size: 1.5rem, $color: var(--black));
      transform: translate(-50%, -50%);
    }
  }
}
.article-image-part {
  margin: 20px 0;
}
.add-article-buttons {
  @include size(30%, 45px);
  @include flex;
  gap: 10px;
  margin-top: 35px;
}
@include breakpoint("small-screen") {
  .image-upload,
  .add-article-buttons {
    width: 100%;
  }
}
@include breakpoint("medium-screen") {
  .image-upload,
  .add-article-buttons {
    width: 50%;
  }
}

// @include breakpoint("large-screen") {
//   .image-upload {
//     width: 35%;
//   }
// }
