.edit-modal {
  text-align: left;
  padding: 10px;
  gap: 10px;
  .edit-modal-btn-row {
    @include flex($justify: flex-end);
    .edit-modal-buttons {
      @include flex;
      width: 80%;
      gap: 5px;
      margin-top: 15px + 20;
    }
  }
}
