.error-page-container {
  background: url("../../../public/images/error-background.jpg");
  height: 100vh;
  object-fit: cover;
  nav {
    @include flex($align: center, $justify: space-between);
    padding: 20px 10px;
    .logo-container {
      @include flex($align: center);
      gap: 3px;
    }
  }
}

.logo-container {
  .brand-text {
    text-transform: capitalize;
  }
}

nav .back-link {
  @include text-format($font-size: 0.875rem, $color: var(--green));
  border: 0.5px solid var(--green);
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 0.2s;
  text-decoration: none;

  &:hover {
    @include box-shadow(0, 0, 1px, 0, var(--green));
  }
}
.error-content {
  @include size(30%, 70%);
  @include flex($direction: column, $align: center, $justify: center);
  min-width: 100%;
  margin: auto;
  text-align: center;
  gap: 20px;
  h2.error-main-text {
    text-transform: capitalize;
  }
  h1.error-code {
    @include text-format($font-size: 7rem, $color: var(--green));
    font-style: italic;
  }
  span.error-sub-text {
    color: var(--dark-gray);
    line-height: 1.5;
  }
}
