.section-header-bread-crump {
  @include flex($justify: space-between, $align: baseline);
  .bread-crump-title {
    @include text-format($transform: capitalize);
  }
}

.breadCrump-list {
  @include flex;
  gap: 5px;
  li.breadCrump-item {
    @include text-format($font-size: 0.875rem, $transform: capitalize);
    a {
      text-decoration: none;
      color: var(--dark-gray);
    }
  }
  .breadCrump-item.active {
    color: var(--black);
  }
}
@include breakpoint("small-screen") {
  .breadCrump-list {
    display: none;
  }
}
