.article-container {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);

  .article-title {
    text-transform: capitalize;
    border-bottom: 1px solid var(--light-gray);
    padding: 5px 0;
  }
  .article-author-row {
    @include flex($align: center);
    margin: 13px 0;
    font-size: 0.9rem;
    gap: 10px;
    svg {
      color: var(--dark-gray);
      margin-right: 5px;
    }
  }
  .article-cover {
    width: 100%;
    max-height: 500px;
    margin: 20px 0;
    overflow: hidden;
    img {
      @include size(100%);
      border-radius: 10px;
      object-fit: contain;
    }
  }
  .article-body {
    line-height: 1.5;
    img {
      @include size(50%, 350px);
      padding: 20px;
      margin: 0 auto;
      display: block;
    }
  }
}
