table {
  width: 100%;
}
thead {
  border-bottom: 1px solid var(--light-gray);
}
table,
td,
th {
  padding: 15px !important;
  text-align: left;
  font-size: 15px;
}
tr {
  border-bottom: 1px solid var(--light-gray) !important;
  transition: all 0.2s ease;
  &:last-child {
    border-bottom: none !important;
  }
}
tbody > tr {
  &:hover {
    background-color: #f6f6f6;
  }
}
th {
  text-transform: capitalize;
  font-size: 12px;
  color: var(--dark-gray);
}
table {
  img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    border-radius: 10px;
  }
}
