.table-container {
  overflow: auto;
}
table {
  width: 100%;
  img {
    @include size(70px);
    vertical-align: middle;
    border-radius: 10px;
  }
  th {
    @include text-format(
      $font-size: 12px,
      $color: var(--dark-gray),
      $transform: capitalize
    );
  }
  thead {
    border-bottom: 1px solid var(--light-gray);
  }
}
table,
td,
th {
  padding: 15px !important;
  text-align: left;
  font-size: 14px;
}
tbody > tr {
  border-bottom: 1px solid var(--light-gray) !important;
  transition: all 0.2s ease;
  &:last-child {
    border-bottom: none !important;
  }
  &:hover {
    background-color: #f6f6f6;
  }
}

.table-button {
  min-width: 150px;
}

@include breakpoint("small-screen") {
  .table {
    overflow: auto;
    padding: 0;
    td {
      font-size: 10px !important;
    }
  }
}
 