.browser-usage-stats {
  grid-row: 2/3;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.browsers-stats {
  .browsers-list > .browser-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
    border-bottom: 1px solid var(--light-gray);
    text-transform: capitalize;
    font-size: 0.9rem;
    &:last-child {
      border-bottom: 0;
    }
  }
}
.browser-usage-pill-badget {
  background-color: var(--danger);
  border-radius: 30px;
  color: var(--white);
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
}
